<!doctype html>
<html>
  <head>
  </head>

  <body>
    <header>
        <nav>
          <a href="/">home</a>
          <a href="/about">about</a>
        </nav>
    </header>
    
    {{{ body }}}

    <footer id="site-footer">
      &copy; 2018 Ironhack 2018 BCN
    </footer>
  </body>

</html>